*
!src/
!src/**

src/db.sqlite3
src/**/__pycache__/
src/img/
src/.idea/
src/*/settings/production.py

gcloud_client_secret.json

!.gitignore
!requirements.txt

src/tests/img/*
!src/tests/img/img1.jpg
!src/tests/img/img2.jpg
!src/tests/img/img3.jpg
!src/tests/img/img4.jpg
