<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block head_title %}Classification{% endblock head_title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <nav class="blue darken-2">
        <div class="nav-wrapper container">
          <a href="#" class="brand-logo">Classification</a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                    <li><a class="btn green darken-2" href="{% url 'projects:list' %}">My projects</a></li>
                    <li><a class="btn green darken-2" href="{% url 'buckets:list' %}">My buckets</a></li>
                    <li><i class="material-icons left">account_circle</i>{{ user.get_username }}</li>
                    <li><a href="{% url 'logout' %}">déconnexion</a></li>
                {% else %}
                    <li><a class="btn green darken-2" href="{% url 'login' %}">Se connecter</a></li>
                {% endif %}
            </ul>
        </div>
      </nav>
    </header>



    <div class="container" style="padding-top: 15px;">
        {% block content %}{% endblock %}
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script>
         $(document).ready(function() {
            $('select').material_select();

             $(document).ready(function(){
                 $('.tooltipped').tooltip();
             });
        });
    </script>

    {% block scripts %}{% endblock %}
</body>
</html>