{% extends 'base.html' %}

{% block content %}
    <h4>My Projects</h4>
        <a href="" class="btn green darken-2"><i class="material-icons right">add_circle</i>Add Project</a>

        <table class="highlight">
            <thead>
              <tr>
                  <th>Name</th>
                  <th>owner</th>
                  <th>Description</th>
              </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td><a href="{% url 'projects:detail' project.id %}">{{ project.name }}</a></td>
                        <td>{{ project.user }}</td>
                        <td>{{ project.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}