{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <a class="btn green darken-2" href="{% url 'projects:list' %}">
            <i class="material-icons left">arrow_back</i> Back to my projects
        </a>
    </div>


    <h1>Create Project</h1>

    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <button class="btn waves-effect waves-light" type="submit"><i class="material-icons right">send</i>save</button>
    </form>

{% endblock %}
