{% extends 'base.html' %}

{% block content %}

    <div class="row">

        <h2>My buckets</h2>
        <a href="{% url 'buckets:create' %}" class="waves-effect waves-light btn"><i class="material-icons right">add_circle</i>Add bucket</a>

        <ul class="collection with-header z-depth-1">
            {% for bucket in object_list %}
                <li class="collection-item">
                    <div>
                        <a href="{{ bucket.get_absolute_url }}">{{ bucket.name }}</a>
                    </div>
                </li>
            {% empty %}
                <li>No bucket yet.</li>
            {% endfor %}

        </ul>

    </div>

    <div class="row">
        <h2>My shared buckets</h2>
    </div>

{% endblock %}