{% extends 'base.html' %}

{% load static %}

{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'buckets/vote.css' %}" />{% endblock %}


{% block content %}
    <div class="row">

        <h2 class="center">{{ label.name }}</h2>

        <span class="btn tooltipped green" data-position="bottom" data-tooltip="Progression pour ce label"><i class="material-icons right">trending_up</i>{{ vote_percent_for_the_label }}%</span>

        <div class="progress">
          <div class="determinate green" style="width: {{ vote_percent_for_the_label }}%"></div>
      </div>

        {% if images %}
                <form method="post">{% csrf_token %}
                    {{ form.management_form }}

                    {% for f in form %}
                    <div class="col m3 s6">
                            {{ f.errors }}

                            {{ f.image }}
                            <div class="img-wrapper" style="background-image: url({{ f.fields.image.initial.file.url }}">
                                {{ f.choice }}

                                <label for="{{ f.choice.id_for_label }}"></label>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="col s12">
                        <a class="btn green darken-2" href="{% url 'buckets:detail' bucket.id %}"><i class="material-icons left">arrow_back</i> Back to the bucket</a>
                        <button class="btn waves-effect waves-light right" type="submit"><i class="material-icons right">send</i>VOTE</button>
                    </div>
                </form>

        {% else %}
            <p>Congratulations ! You finish the classification on <b>{{ label.name }}</b> ! You can start a new classification :</p>
            <a class="btn green darken-2" href="{% url 'buckets:detail' bucket.id %}"><i class="material-icons left">arrow_back</i> Back to the bucket</a>
        {% endif %}

    </div>
{% endblock %}
