{% extends 'base.html' %}

{% block content %}

    <h1>{{ object.name }}</h1>
    <div class="row">
        {% for label in object.label_set.all %}
        <div class="chip">
            <a href="{% url 'buckets:vote_by_labels' bucket=label.bucket.id label=label.id %}">{{ label.name }}</a>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <a class="btn" href="{% url 'buckets:add_labels' object.id %}">add labels</a>
        <a class="btn" href="{% url 'buckets:add_images' object.id %}">add images</a>
        <a class="btn" href="{% url 'buckets:invite_user' object.id %}">add users</a>
    </div>
    <div class="row">
        <a class="btn" href="{% url 'buckets:images' object.id %}">Display images</a>
        <a class="btn" href="{% url 'buckets:votes' object.id %}">Display votes</a>
    </div>

{% endblock %}